﻿@using ShoppingList.Shared.Models
@model ShoppingListItem
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link disabled selectionTable" href="#table">Select ingredient</a>
    <a class="nav-item nav-link active disabled amount" href="#amount">Amounts</a>
    <a class="nav-item nav-link disabled finalize" href="#finalize">Finalize</a>
</nav>

<table class="table amounts">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
            <th>@Html.DisplayNameFor(model => model.AmountType)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(modelItem => modelItem.ItemName)</td>
            <td>
                <div class="form-group">
                    <input asp-for="@Model.Amount" class="form-control" />
                    <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <select class="custom-select" asp-for="@Model.AmountType" asp-items="@Html.GetEnumSelectList<AmountType>()">
                        <option value="">Choose a type</option>
                    </select>
                </div>
            </td>
        </tr>
    </tbody>
</table>