﻿@using IngredientCreation = ShoppingList.Web.Models.Views.IngredientCreation
@model IngredientCreation
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link disabled selectionTable" href="#table">Select ingredient</a>
    <a class="nav-item nav-link disabled amount" href="#amount">Amounts</a>
    <a class="nav-item nav-link active disabled finalize" href="#finalize">Finalize</a>
</nav>
  
<div class="form-group">
    <label asp-for="ItemName" class="control-label"></label>
    <input readonly asp-for="ItemName" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="Amount" class="control-label"></label>
    <input readonly asp-for="Amount" class="form-control" />
</div>    

<div class="form-group">
    <label asp-for="AmountType" class="control-label"></label>
    <input readonly asp-for="AmountType" class="form-control" />
</div>