﻿@using ShoppingList.Shared.Models
@model IEnumerable<ShoppingListItem>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860   
*@

@{
    var template = Model.First(); //just a helper
}

<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active disabled selectionTable" href="#table">Select ingredient</a>
    <a class="nav-item nav-link disabled amount" href="#amount">Amounts</a>
    <a class="nav-item nav-link disabled finalize" href="#finalize">Finalize</a>
</nav>

<table class="table selectionTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                <button data-id="@item.Id" class="btn btn-primary" id="selection">Select</button>
            </td>
        </tr>
    }
    </tbody>
</table>