﻿@model ShoppingList.Web.Models.Views.DishCreation

@{
    ViewData["Title"] = "View";
}

<h1>Dishes</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeaturedImage" class="control-label"></label>
                <input asp-for="FeaturedImage" type="file" class="form-control-file" />
                <span asp-validation-for="FeaturedImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HowTo" class="control-label"></label>
                <textarea asp-for="HowTo" class="form-control"></textarea>
                <span asp-validation-for="HowTo" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label asp-for="Ingredients" class="control-label"></label>
                    <select asp-for="Ingredients" readonly class="form-control"></select>
                    <span asp-validation-for="Ingredients" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label"></label>
                    <button class="btn btn-secondary" id="select-ingredients">Select Ingredients</button>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/lib/app/dishes/create.js" asp-append-version="true"></script>
}